{% extends 'blog/base.html' %}
{% block content %}
    <div class="title-section">
        <h1>Liste des Personnages</h1>
    </div>
    <div class="row">
               {% for personnage in personnages %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="{{ personnage.photo }}" alt="Photo de {{ personnage.nom }}" class="img-responsive img-thumbnail">
                            <h3><a href="{% url 'personnage_detail' id_personnage=personnage.id_personnage %}">{{ personnage.nom }}</a></h3>
                            <div class="card-content">

                                <p><strong>Type :</strong> {{ personnage.type_personnage }}</p>
                                <p><strong>État :</strong> {{ personnage.etat }}</p>
                                <p><strong>Lieu Actuel :</strong> {{ personnage.lieu.nom }}</p>
                            </div>
                        </div>
                   </div>
                {% endfor %}
     </div>

    <div class="title-section">
        <h1>Liste des lieux</h1>
    </div>
    <div class="row">

                {% for lieu in lieux %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="{{ lieu.photo }}" alt="Photo de {{ lieu.nom }}" class="img-responsive img-thumbnail">
                            <div class="card-content">
                                <h3>{{ lieu.nom }}</h3>
                                <p><strong>Capacité Max :</strong> {{ lieu.capacite }}</p>
                                <p><strong>Nombre Actuel :</strong> {{ lieu.nombre_actuel }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    </div>
{% endblock %}

